@model List<WebApp.Data.ViewModels.CourseViewModel>
@using WebApp.Data.ViewModels;
@using WebApp.Models;
@using WebApp.Properties;

<h1>Courses</h1>

<div id="courses">
    @foreach (var course in Model)
    {
        <button class="course-button" data-course-id="@course.COURSE_ID">@course.NAME</button>
    }
</div>

<h2>Groups</h2>
<div id="groups">
    
</div>
<div id="add-group" style="display: none">
    <input type="text" id="new-group-name" placeholder="Group Name" />
    <button id="add-group-button">Add Group</button>
</div>

<h2>Students</h2>

<div id="students">

</div>
<div id="add-student" style="display">
    <input type="text" id="new-first-name" placeholder="First Name" />
    <input type="text" id="new-last-name" placeholder="Last Name" />
    <button id="add-student-button">Add Student</button>
</div>

<script type="text/javascript">
    var GetGroupsUrl = '@Url.Action("GetGroups", "Groups")';
    var ChangeGroupNameUrl = '@Url.Action("ChangeGroupName", "Groups")';
    var DeleteGroupUrl = '@Url.Action("DeleteGroup", "Groups")';
    var GetStudentsUrl = '@Url.Action("GetStudents", "Students")';
    var ChangeStudentNameUrl = '@Url.Action("ChangeStudentName", "Students")';
    var AddGroupUrl = '@Url.Action("AddGroup", "Groups")';
    var AddStudentUrl = '@Url.Action("AddStudent", "Students")';
    var DeleteStudentUrl = '@Url.Action("DeleteStudent", "Students")';
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/GroupOperations.js"></script>
<script src="~/js/StudentsOperations.js"></script>
<script src="~/js/main.js"></script>
