@model List<WebApp.Data.ViewModels.CourseViewModel>
@using WebApp.Data.ViewModels;
@using WebApp.Models;
@using WebApp.Properties;

<h1>Courses</h1>

<div id="courses">
    @foreach (var course in Model)
    {
        <button class="course-button" data-course-id="@course.COURSE_ID">@course.NAME</button>
    }
</div>

<h2>Groups</h2>

<div id="groups">
</div>

<h2>Students</h2>

<div id="students">
</div>

<script type="text/javascript">
    var GetGroupsUrl = '@Url.Action("GetGroups", "Groups")';
    var ChangeGroupNameUrl = '@Url.Action("ChangeGroupName", "Groups")';
    var DeleteGroupUrl = '@Url.Action("DeleteGroup", "Groups")';
    var GetStudentsUrl = '@Url.Action("GetStudents", "Students")';
    var ChangeStudentNameUrl = '@Url.Action("ChangeStudentName", "Students")';
    var groupsSharp = Resources.groupsSharp;
    var studentsSharp = Resources.studentsSharp;
    var coursesSharp = Resources.coursesSharp;
    var alertFailedChangeGroupName = Resources.alertFailedChangeGroupName;
    var alertFailedDeleteGroup = Resources.alertFailedDeleteGroup;
    var alertFailedChangeStudentName = Resources.alertFailedChangeStudentName;
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/InteractDataScript.js"></script>
